# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# IDE/editor config
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Data or media (예시)
data/
*.mp4
*.avi

docker/
*.deb
*.deb.1
debug_output.jpg